.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}

.timeoutBtn {
    height: 30px;
}

.timer-wrapper {
    width: 454px;
    height: 454px;
    align-items: center;
}

.timer-item {
    width: 454px;
    height: 40px;
    flex-direction: column;
}

.timer-item-btn {
    width: 454px;
    height: 40px;
    flex-direction: column;
}

.timer-title {
    width: 454px;
    height: 40px;
    text-align: center;
    font-size: 17px;
}