.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}

.battery-wrapper {
    width: 454px;
    height: 454px;
    align-items: center;
}

.battery-item {
    width: 454px;
    height: 120px;
    flex-direction: column;
}

.battery-title {
    width: 454px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}
