.stack {
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}

.title {
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 100px;
}
