.stack {
    width: 454px;
    height: 454px;
    justify-content: center;
}
.background {
    width:454px;
    height:454px;
}
.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
    background-color: transparent;
}
.containerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
    background-color: transparent;
}
.title {
    font-size: 30px;
    text-align: center;
    width: 350px;
    height: 60px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 454px;
    height: 100px;
    background-color: transparent;
}
.btn{
    display: flex;
    width: 170px;
    height: 50px;
}
.btn-small{
    display: flex;
    width: 100px;
    height: 50px;
}
.backBtn {
    width: 200px;
    height: 50px;
}
