.stack {
    width: 466px;
    height: 466px;
    justify-content: center;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 466px;
    height: 466px;
    background-color: transparent;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    background-color: transparent;
}

.globalization-title {
    width: 454px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

.globalization-subtitle {
    width: 454px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
